.loginContainer img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.loginContainer .backButton{
    color: #227C9D;
    font: normal normal normal 18px Raleway;
    margin-top: 1%;
    margin-left: 7%;
    cursor: pointer;
}
.loginContainer .backButton a{
    text-decoration: none;
    color: inherit;
}
.loginContainer .loginHeader{
    text-align: center;
    font: normal normal normal 72px Raleway;
    margin-top: 10%;
    color: #227C9D;
    opacity: 1;
}
.loginContainer .loginForm{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% auto;
}
.loginContainer .loginForm input{
    height: 5vh;
    box-shadow: 0px 5px 10px #00000029;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font: normal normal 300 28px Raleway;
    letter-spacing: 0px;
    color: #CBCBCB;
    border-radius: 10px;
    border: none;
    margin: 1% 0;
    padding-left: 1vw;
}
.loginContainer .loginForm input::placeholder{
    color: #CBCBCB;
}
.loginContainer .loginForm .loginButton{
    width: 25%;
    height: 5vh;
    border: none;
    background: #FE6D73 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 24px Raleway;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 3%;
    cursor: pointer;
}

.loginContainer .loginForm p{
    font: normal normal 300 15px Raleway;
    letter-spacing: 0px;
    color: #227C9D;
}

.loginContainer .loginForm p a{
    text-decoration: none;
    color: #17C3B2;
}